* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #29324B;
    margin: 0;
    padding: 0;
}


/* ................................................................................. */
/* ............................Container1.......................................... */

.container-1 {
    position: relative;
    width: 100%;
    height: 330vh; 
    background-color: #29324B; 
    overflow: hidden;
    z-index: -1; 
}

/* Efek lingkaran gradasi biru di kiri atas */
.container-1::before {
    content: '';
    position: absolute;
    width: 60vw; 
    height: 60vw;
    background: radial-gradient(circle, #84D4FF, transparent 70%);
    border-radius: 50%;
    top: 5vw; 
    left: -20vw;
    filter: blur(15vw); 
    animation: glowEffect 8s infinite alternate ease-in-out;
    z-index: -1; 
}

/* Efek lingkaran gradasi ungu di kanan bawah */
.container-1::after {
    content: '';
    position: absolute;
    width: 60vw;
    height: 60vw;
    background: radial-gradient(circle, #FF84D4, transparent 70%);
    border-radius: 50%;
    top: 80vw;
    right: -20vw;
    filter: blur(15vw); 
    animation: glowEffect 8s infinite alternate ease-in-out;
    z-index: -1; 
}

@keyframes glowEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.dashboard-link {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
}

.dashboard-link img {
    width: 25px;
    height: 25px;
}

.dashboard-link p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
}


h1 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 90px;
    margin-left: 50px;
    color: #fff;
}

p {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}



.center-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

/* ................................................................................. */
/* ............................HOMELANDER.......................................... */
.image-container-1 {
    position: relative;
    display: inline-block;
    border-radius: 30px; 
    width: 250px; 
    height: 360px; 
    background: #FF4C65; 
    box-shadow: 0 10p 15px rgba(255, 76, 101, 0.5);
    padding: 15px; 
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30% , #001E82); 
    z-index: 3;
    border-radius: 30px; 
    opacity: 0.7;
}

/* Gambar */
.image-container-1 img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    border-radius: 30px; 
    object-fit: cover;
    margin-top: -96px;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.image-container-1 img.visible {
    opacity: 1; 
}

.glow-border {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #FF4C65;
    border-radius: 40px;
    z-index: 1;
    animation: glow 2s linear infinite; 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #FF4C65;
    }
    50% {
        box-shadow: 0 0 50px #FF4C65;
    }
    100% {
        box-shadow: 0 0 10px #FF4C65;
    }
}


/* Teks di dalam container */
.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.text-overlay h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

.text-overlay p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #00F2FF; 
    font-weight: normal;
    letter-spacing: 2px;
}




.image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px; 
    margin-top: 50px; 
}

/* ................................................................................. */
/* ............................THE DEEP.......................................... */

.image-container-2 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #00FF6F; 
    box-shadow: 0 10px 15px rgba(0, 255, 111, 0.5);
    padding: 15px;
}

.image-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30% , #000000); 
    z-index: 3;
    border-radius: 30px; 
    opacity: 0.7;
}

.image-container-2 img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -15px;
    margin-top: -135px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-2 img.visible {
    opacity: 1;
}

.glow-border-2 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #00FF6F;
    border-radius: 40px;
    z-index: 1;
    animation: glow-2 2s linear infinite;
}

@keyframes glow-2 {
    0% {
        box-shadow: 0 0 10px #00FF6F;
    }
    50% {
        box-shadow: 0 0 50px #00FF6F;
    }
    100% {
        box-shadow: 0 0 10px #00FF6F;
    }
}

.text-overlay-2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-2 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

.text-overlay-2 p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #EAFF00;
    font-weight: normal;
    letter-spacing: 2px;
}


/* ................................................................................. */
/* ............................BLACK NOIR.......................................... */

.image-container-3 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #DFDFDF; 
    box-shadow: 0 10px 15px rgba(223, 223, 223, 0.5);
    padding: 15px;
}

.image-overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, #000000);
    z-index: 3;
    border-radius: 30px;
    opacity: 0.7;
}

.image-container-3 img {
    position: relative;
    z-index: 2;
    width: 215px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: -78px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-3 img.visible {
    opacity: 1;
}

.glow-border-3 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #DFDFDF;
    border-radius: 40px;
    z-index: 1;
    animation: glow-3 2s linear infinite;
}

@keyframes glow-3 {
    0% {
        box-shadow: 0 0 10px #DFDFDF;
    }
    50% {
        box-shadow: 0 0 50px #DFDFDF;
    }
    100% {
        box-shadow: 0 0 10px #DFDFDF;
    }
}

.text-overlay-3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-3 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

.text-overlay-3 p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #00FFA6;
    font-weight: normal;
    letter-spacing: 2px;
}


/* ................................................................................. */
/* ............................A-TRAIN............................................. */

.image-container-4 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #3792CB; 
    box-shadow: 0 10px 15px rgba(55, 146, 203, 0.5);
    padding: 15px;
}

.image-overlay-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, #000000);
    z-index: 3;
    border-radius: 30px;
    opacity: 0.7;
}

.image-container-4 img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -15px;
    margin-top: -72px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-4 img.visible {
    opacity: 1;
}

.glow-border-4 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #3792CB;
    border-radius: 40px;
    z-index: 1;
    animation: glow-4 2s linear infinite;
}

@keyframes glow-4 {
    0% {
        box-shadow: 0 0 10px #3792CB;
    }
    50% {
        box-shadow: 0 0 50px #3792CB;
    }
    100% {
        box-shadow: 0 0 10px #3792CB;
    }
}

.text-overlay-4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-4 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

.text-overlay-4 p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #FF0004;
    font-weight: normal;
    letter-spacing: 2px;
}




/* ................................................................................. */
/* ............................STORMFRONT.......................................... */

.image-container-5 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #FF00BB; 
    box-shadow: 0 10px 15px rgba(255, 0, 187, 0.5);
    padding: 15px;
    margin-top: 90px;

}

.image-overlay-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, #000000);
    z-index: 3;
    border-radius: 30px;
    opacity: 0.7;
}

.image-container-5 img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -15px; 
    margin-top: -72px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-5 img.visible {
    opacity: 1;
}

.glow-border-5 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #FF00BB; 
    border-radius: 40px;
    z-index: 1;
    animation: glow-5 2s linear infinite;
}

@keyframes glow-5 {
    0% {
        box-shadow: 0 0 10px #FF00BB;
    }
    50% {
        box-shadow: 0 0 50px #FF00BB;
    }
    100% {
        box-shadow: 0 0 10px #FF00BB;
    }
}

.text-overlay-5 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-5 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF; 
}

.text-overlay-5 p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #00AAFF; 
    font-weight: normal;
    letter-spacing: 2px;
}


/* ................................................................................. */
/* ............................QUEEN MAEVE.......................................... */

.image-container-6 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #FF7700; 
    box-shadow: 0 10px 15px rgba(255, 119, 0, 0.5);
    padding: 15px;
    margin-top: 90px;

}

.image-overlay-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, #000000);
    z-index: 3;
    border-radius: 30px;
    opacity: 0.7;
}

.image-container-6 img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -15px; 
    margin-top: -110px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-6 img.visible {
    opacity: 1;
}

.glow-border-6 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #FF7700; 
    border-radius: 40px;
    z-index: 1;
    animation: glow-6 2s linear infinite;
}

@keyframes glow-6 {
    0% {
        box-shadow: 0 0 10px #FF7700;
    }
    50% {
        box-shadow: 0 0 50px #FF7700;
    }
    100% {
        box-shadow: 0 0 10px #FF7700;
    }
}

.text-overlay-6 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-6 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF; 
}

.text-overlay-6 p {
    font-size: 15px;
    text-align: left;
    margin: 5px 0 0;
    color: #D9FF00; 
    font-weight: normal;
    letter-spacing: 2px;
}


/* ................................................................................. */
/* ............................STARLIGHT............................................ */

.image-container-7 {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 360px;
    background: #FFFB00; 
    box-shadow: 0 10px 15px rgba(255, 251, 0, 0.5);
    padding: 15px;
    margin-top: 90px;

}

.image-overlay-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 30%, #000000);
    z-index: 3;
    border-radius: 30px;
    opacity: 0.7;
}

.image-container-7 img {
    position: relative;
    z-index: 2;
    width: 250px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -15px; 
    margin-top: -75px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-container-7 img.visible {
    opacity: 1;
}

.glow-border-7 {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 7px solid #FFFB00; 
    border-radius: 40px;
    z-index: 1;
    animation: glow-7 2s linear infinite;
}

@keyframes glow-7 {
    0% {
        box-shadow: 0 0 10px #FFFB00;
    }
    50% {
        box-shadow: 0 0 50px #FFFB00;
    }
    100% {
        box-shadow: 0 0 10px #FFFB00;
    }
}

.text-overlay-7 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-overlay-7 h2 {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF; 
}

.text-overlay-7 p {
    font-size: 15px;
    margin: 5px 0 0;
    color: #00FF1E; 
    font-weight: normal;
    letter-spacing: 2px;
}
